

.App-logo {
  height: 25vmin;
  pointer-events: none;
  float: left;

}





.App-header {
  color: #f2d2c2;
  background-color: #1e1124;
  min-height: 10vh;
  display: inline-block;
  width: 100%;
  padding-top: 25px;
}

.App-logo {
  animation: fadeIn 5s, slideIn 5s;
}

@keyframes fadeIn {
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appLogoMove {
  from {
     left: 50%;
  }
  to {
    left: 0;
  }
}


.UserNav {
  

}

.Wrapper {
 
  float: right;
}

.SignUpLogin {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 46%;
  border: 1px solid #032b2b;
}



.UserLoggedIn {
 
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  border: 3px solid #283752;

}

.UserLinks {
  display: inline-block;
  list-style: none;
}



