
* {
    text-align: center;
}

/* specific to component display, before clicking as link, BookNav piece */

.BookNowOval {
    padding: 20px;
    border-radius: 50%;
    background-color: #edad6d;
    width: fit-content;
    height: 50px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#BookNowOvalLink {
    font-size: 20px;
    color: rgb(6, 57, 53);
}

.BookNowOval:hover {
    background-color: #3b7be3;
    color: #f2d2c2;
}

.BookNowOval:hover a {
    color: #f2d2c2;
}

