.formDisplay {
    margin-top: 75px;
}

.button {
    background-color: #335e5c5b; /* Green */
    border: 1px solid #335e5c;
    box-shadow: 2px 5px 8px #6aeee9;
    border-radius: 10px;
    color: #f2d2c2;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    font-size: 25px;
  }
  
  input[type=text], input[type=password] {
    background-color: #5aa29e;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #335e5c;
    box-shadow: 2px 5px 8px #6aeee9;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
  
  }
  
  .SignUp {
    padding-bottom: 25px;
    padding-right: 10px;
  }