p.description {
   visibility: hidden;
}

.RoomTitle:hover > div > div > p {
    color: pink;
    visibility: visible;
}


div#ocean-front::before {
    content: "Ocean Front Rooms"

} 

div#garden-view::before {
    content: "Garden View Rooms"
}  
div#ocean-front-swim-out::before {
    content: "Ocean Front Rooms, Swim-Out Style"
} 

div#ocean-view-swim-out::before {
    content: "Ocean View Rooms, Swim-Out Style"
}

div#garden-view-swim-out::before {
    content: "Garden View Rooms, Swim-Out Style"
} 

div#ocean-view::before {
    content: "Ocean View Rooms"
} 

div#ocean-front-ph::before {
    content: "Ocean Front Penthouse Rooms"
} 

div#ocean-view-ph::before {
    content: "Ocean View Penthouse Rooms"
} 

div#garden-view-ph::before {
    content: "Garden View Penthouse Rooms"
}  

div#bay-view-swim-out::before {
    content: "Bay View Rooms, Swim-Out Style"
} 

div#city-view-swim-out::before {
    content: "City View Rooms, Swim-Out Style"
} 


div#bay-view::before {
    content: "Bay View Rooms"

} 

div#city-view::before {
    content: "City View Rooms"
} 

div#bay-view-ph::before {
    content: "Bay View Penthouse Rooms"
} 

div#city-view-ph::before {
    content: "City View Penthouse Rooms"

} 